<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ToDo 新規登録</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/todo/add}" th:object="${todoForm}" method="post">
		<table>
			<tr>
				<td>名前:</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
			</tr>
			<tr>
				<td><button type="submit">送信</button></td>
			</tr>
		</table>
	</form>
</body>
</html>